chatterbot
datasets
deep_translator
fitz
googletrans
langchain
langchain_community
langchain_core
langchain_openai
language_tool_python
matplotlib
nltk
numpy
openai
pandas
Requests
scipy
selenium
spacy
sympy
torch
tqdm
transformers
webdriver_manager
